.container{
    margin-top: 0%;
}

/* footer */
.foot-logo {
    text-align: center;
    align-items: center;
}
.foot-logo span {
    color: #000;
}

.foot .row{
    color: #000;
}
.foot .row:hover{
    color: #210476;
}
