.container{
    margin-top: 0%;
}

/* footer */
.foot-logo {
    text-align: center;
    align-items: center;
}
.foot-logo span {
    color: #000;
}

.carousel-fade {
    background-color: #711f1f;
    margin-top: 10%;
    display: flex;
    justify-content: center;  /* จัดแนวนอนให้อยู่ตรงกลาง */
    align-items: center;  
}

.carousel-inner {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;  /* จัดแนวนอนให้อยู่ตรงกลาง */
    align-items: center;      /* จัดแนวตั้งให้อยู่ตรงกลาง */
}

.carousel-item img {
    height: 400px;
    background-color: #711f1f;
    justify-content: center;
    margin-bottom: 15%;
}
