/* หน้า header */
* {
    margin: 0;
    padding: 0;
    box-shadow: border-box;
    font-family: Arial, sans-serif;
}

body {
    justify-content: center;
    margin: 52px;
    align-items: center;
    min-height: 100vh;
    color: black;
    justify-content: center;
}

/*article*/
.article {
    width: 95%;
    margin-left: 2%;
}

/*168*/

.card-search {
    width: 60%;
    margin-right: auto;
    margin-bottom: -2%;
}
.card-search input {
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    padding: 1%;
    font-size: 20px;
    border: 1px solid #A8DBFF; /* กรอบเส้นขนาด 2px สีดำ */
}

.btn-search {
    background-color: #A8DBFF;
    width: 5%;
    border-radius: 15%;
    border: 1px solid #98dae4a0; /* กรอบเส้นขนาด 2px สีดำ */
}
.bx-search {
    width: 5%;
    margin-left: -2.5%;
    margin-top: -0.5%;
}

/**/
.card-corse {
    width: 90vh;
}

/*menu*/
.menu {
    align-items: center;
    padding: 1%;
}
.text-menu {
    font-size: 22px;
    /* border-top: 1px solid #000;  เส้นแบ่งบรรทัดด้านบน */
    /*  border-bottom: 1px solid #000;  เส้นแบ่งบรรทัดด้านล่าง */
}

.text-menu span {
    color: #000;
    margin-right: 1%;
    width: max-content;
}

/*กรอง-ล้าง*/
.filter {
    font-size: 15px;
}
/*drop*/

/*divider*/
.divider {
    border-top: 1px solid #000;
    margin-bottom: 2%;
    margin-top: 2%;
}

/*cate*/
.category-text {
    color: black;
}

/*level-price*/
.price {
    color: #000;
}
.level {
    color: #000;
}
.form-check-label {
    color: #000000;
}

/*corse*/
.card-all {
    width: 90vh;
    align-items: center;
    display: flex;
    justify-content: center;
}
.card-all .card {
    width: 90vh;
    justify-content: center;
}
.course {
    width: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.card .card-body .btn{
    background-color: #A8DBFF;
    color: rgb(22, 21, 61);
}
.card .card-body .btn:hover{
    background-color: #7db7de;
    color: rgb(44, 59, 58);
    /* border: 1px solid rgba(76, 91, 77, 0.5); */
}

.card-body .card-title a{
    color: rgb(10, 72, 102);
}
.card-body .card-title:hover a{
    color: rgb(17, 109, 167);
}
.card-body .teacher{
    color: #8ec5d5;
}
.card-body .teacher:hover {
    color: rgb(1, 108, 129);
}

/* .login-logout */



